.react-logo {
    animation: App-logo-spin infinite 9s linear;
    height: 50px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.feature-intro {    /* EQ logo and "Spring Boot Applications" */
    padding-left: 20px;
    padding-bottom: 15px;
}
.content-section-implementation {
    font-size: 15px;
}
.navbar {
    min-height: 70px;
    background-color: black;
}
.navbar-collapse {
    padding: 10px;
}
.navbar-brand {
    padding: 10px;
}
h1 {
    display: inline-block;
    padding-left: 30px;
}
.navbar-inverse {
    margin-bottom: 0px;
}